.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  // Next.js Image styling (Background)
  img {
    object-fit: cover;
  }
  
  .contentContainer {
    position: absolute;
    top: 50%;
    left: 5%; 
    transform: translateY(-50%);
    width: 90%; 
    z-index: 1;
  }
  
  .staticContent {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 20px; 
    
    h1 {
      margin: 0;
      color: white;
      font-size: clamp(40px, 5vw, 90px); 
      font-weight: 500;
      line-height: 1.1;
      flex: 1; // Text bachi hui jagah lega
    }
  }
  
  .ImageBook {
    width: 550px; 
    margin-top: 100px;
    height: auto; 
    display: block;
    object-fit: contain; 
    flex-shrink: 0; 
  }

 
  @media (max-width: 1024px) {
    .contentContainer {
      left: 5%;
      width: 90%;
    }

    .staticContent {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
      gap: 40px;
      
      h1 {
        max-width: 100%;
        font-size: 60px; 
      }
      
      .ImageBook {
        width: 400px;
        align-self: center; 
      }
    }
  }

  // 2. Mobile (Phones ~768px and below)
  @media (max-width: 768px) {
    .staticContent {
      h1 {
        font-size: 42px; 
        text-align: center; 
      }

      .ImageBook {
     
        width: 100%; 
        max-width: 350px; // Max limit laga di
      }
    }
  }
}