.introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #141516;

    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #141516;
        }
    }

    // New Container for text alignment
    .textContainer {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column; // Text ko upar-neeche karne ke liye
        align-items: center;
        justify-content: center;
        gap: 10px; // Dono text ke beech thoda gap

        .brandName {
            color: white;
            font-size: 50px; // Iska size thoda bada rakha hai
            margin: 0;
            font-weight: bold;
        }

        p {
            display: flex;
            color: white;
            font-size: 42px;
            align-items: center;
            margin: 0; 
            
         
            span{
                display: block;
                width: 10px;
                height: 10px;
                background-color: white;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}