.description {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;

    .body {
        max-width: 1400px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 80px; 
        position: relative;

        // --- BUTTON CONTAINER ---
        .buttonContainer {
            position: relative;
            width: 180px;
            height: 180px;
            flex-shrink: 0; 
            
            // --- BUTTON STYLING ---
            .roundedButton {
                width: 100% !important;
                height: 100% !important;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                // DEFAULT STATE: Purple Background, Purple Border
                background-color: #6D3078 !important; 
                border: 1px solid #6D3078 !important; // Border visible but blends in
                
                transition: all 0.4s ease; // Smooth animation for everything

                // HOVER STATE: White Background, BLACK Border
                &:hover {
                    background-color: #FFFFFF !important; 
                    border: 1px solid #000000 !important; // <--- Border Black here
                    
                    // Internal animation div ko bhi white karte hain
                    div {
                        background-color: #FFFFFF !important;
                    }
                }

                // IMAGE LOGO
                img {
                    width: 100px;
                    height: auto;
                    object-fit: contain;
                    
                    position: relative;
                    z-index: 10; 
                    pointer-events: none;
                }
            }
        }

        // --- TEXT CONTAINER ---
        .textContainer {
            display: flex;
            flex-direction: column;
            gap: 40px; 

            p {
                margin: 0px;
                &:nth-of-type(1) {
                    font-size: 36px;
                    line-height: 1.3;
                    span { margin-right: 5px; }
                    .mask {
                        position: relative;
                        overflow: hidden;
                        display: inline-flex;
                    }
                }
                &:nth-of-type(2) {
                    font-size: 18px;
                    width: 80%;
                    font-weight: 300;
                }
            }
        }
    }

    // --- RESPONSIVE ---
    @media (max-width: 1024px) {
        padding-left: 50px;
        padding-right: 50px;
        .body {
            flex-direction: column;
            .buttonContainer { margin-bottom: 30px; }
        }
    }
}